@{
    Layout = null;
    ViewBag.Title = "Landing page";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CBS | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

</head>

<body id="page-top" class="landing-page">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="">

                        <a class="inline" href="#page-top">
                            <img src="~/Content/landing/Logo_NRC_MRC.png" alt="dashboard" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                       @* <li><a class="page-scroll" href="#features">Overview</a></li>
                        <li><a class="page-scroll" href="#projectstatus">Project Status</a></li>
                        <li><a class="page-scroll" href="#projectprinciples">Principles</a></li>
                        <li><a class="page-scroll" href="#partners">Partners</a></li>*@

                        <li><a class="page-scroll" href="#features">Overview</a></li>
                        <li><a class="page-scroll" href="#projectstatus">Project Status</a></li>
                        <li><a class="page-scroll" href="#projectprinciples">Principles</a></li>
                        <li><a class="page-scroll" href="#partners">Partners</a></li>

                        <li><a class="btn btn-info" href="@Url.Action("Overview", "Dashboards")">Login</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                                Red Cross<br />
                                Community Based Surveillance<br />
                                
                        </h1>
                        
                    </div>
                    <div class="carousel-image wow zoomIn">
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>

            </div>

        </div>

    </div>



    
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2><strong>What is community based surveillance?</strong></h2>
                <div style="text-align:justify;">
                   
                        Community-based surveillance (CBS) is an important strategy to broaden the reach of public health surveillance to rural communities in resource poor settings,
                        especially those facing or at risk of disease outbreaks. </br> CBS is the organised and rapid capture of information by and for community members about events that occur in their own communities.
                        Real-time reporting to the Red Cross and health authorities enables early detection of and response to events that pose a threat to public health.</br>
                        The continuous monitoring and information sharing enables a tailoring of community-based health programme to respond to current threats and community needs as they change over time.</br>
                        CBS is designed for scale and sustainability by employing cheap and accessible mobile technology and utilising existing Red Cross volunteer networks in response to disease outbreaks.
                   
                </div>
                </div>
            <div class="col-lg-5 features-text">
                <h2><strong>CBS in Madagascar</strong></h2>
                <div style="text-align:justify;">
                        Malagasy Red Cross is implementing CBS as a pilot addition to existing community based health programmes in 2016.
                        CBS is targeting the detection and reporting of events that indicate a risk of plague and the spread of diarrhoeal disease.</br></br>
                                       
                        Red Cross volunteers are trained to detect, respond to  and report these events using simple community case- and event definitions.
                        Reports are sent to a central database by SMS and automatically processed in real time.
                        The data dashboards are updated eight times per day on the CBS website, and MRC staff and relevant authorities will have access to the real- time data.
                        If number of reports reach a set threshold, MRC regional coordinator will follow up with the relevant local authorities who supports the community in the response and/or undertakes an investigation.
                        The MRC will respond with community activities, particularly sensitisation on necessary health topics identified as necessary through the CBS reporting.
                        
                    
                </div>
                </div>
         
                    <div class="col-lg-10 col-lg-offset-1 features-text">
         
                        The areas covered are displayed on the map below.
                        </br></br>
                        <h4>Request access </h4>
                       
                            To access the data dashboard you must log in or request access using the log in function.
                        
                    </div>
                
                    @*<ul>Site Name 1</ul>
                    <ul>Site Name 2</ul>

                    <h5>Population Size: </h5>
                    <h5>Number of Red Cross Volunteers: </h5>*@

                </div>

                @* <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-3 text-left wow fadeInRight">
                    <h2>Project Map View</h2>

                    <div>
                        <center><img src="~/Content/landing/madagascar-Amoroni_Mania_Region.png" alt="dashboard" class="img-responsive"></center>

                    </div>
                </div>*@

        </div>
 

    <section id="projectstatus" class="timeline gray-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">       
                    
                    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZjVjYzIwMWItZmVlNS00NzEyLThlOTAtNzEzM2EwNGY5ZWU5IiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div class="col-lg-12 text-center">
                    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNDQ4ZmQ5MTEtYjYzYi00NTlhLTliNjEtZmNhZTI4NGIxMTA4IiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>

        </div>

    </section>

    <section id="projectprinciples" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Project Principles</h1>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 features-text">
                    <small>CBS</small>
                    <h2>Real time SMS reporting </h2>

                    <i class="fa fa-bar-chart big-icon pull-right"></i>
                                      
                            <div style="text-align:justify;">
                                <p>
                                    Using simple SMS for data collection and reporting keeps cost minimal and allows CBS to be implemented in hard-to-reach areas with limited infrastructure.
                                    The SMS reports are coded using numbers, which allows all community members to participate, and reduces the risk of error in reporting.
                                    In areas with low mobile penetration and network service, SMS is more reliable than mobile data transfer. With limited electricity and charging possibilities,
                                    a ‘dumb phone’ battery lasts longer than a smartphone, and if volunteers do not already own a phone, the cost of feature phones and the cost of SMS does not impact the scalability of CBS.
                                    SMS is therefore suitable for simple reporting such as for CBS and early warning.
                                </p>
                            </div>

                    </div>
                <div class="col-lg-6 features-text">
                    <small>CBS</small>
                    <h2>Alerts</h2>
                    <i class="fa fa-bolt big-icon pull-right"></i>
                    <div style="text-align:justify;">
                        <p>
                            The Red Cross Red Crescent Movement only partakes in surveillance initiatives when it is required in order to detect events of public health importance and respond to avert an outbreak or a crisis.
                            Therefor the most important CBS principles is the alerting of relevant authorities for timely and adequate response. In Madagascar, the SMS reports submitted by the volunteers,
                            can be continuously followed by the relevant authorities/people who has been granted access to the specific disease data. When reports reach a set threshold, the MRC regional coordinator will follow up with the right authorities,
                            who are responsible for follow up of the alert through, case investigation. MRC will be supporting community response such as e.g. clean up campaigns.
                        </p>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0 features-text">
                    <small>CBS</small>
                    <h2>Real time analysis  and data sharing</h2>
                    <i class="fa fa-bar-chart big-icon pull-right"></i>
                    <div style="text-align:justify;">
                        <p>
                            SMS data is fed to a central database which is connected to the analysis and visualisation tool Microsoft Power BI and a CBS designated website.
                            Data is refreshed eight times per day and gives the user virtually real-time information access through the website and/or through Power BI dashboards.  </br>
                            Data is shared with defined users only, who require access to the information in order to support the project and communities that take part.
                            This includes the Malagasy Red Cross health and technical staff, Malagasy Ministry of health division for sanitation and epidemiological surveillance, local authorities and health clinic staff.
                        </p>
                    </div>
                    </div>
                <div class="col-lg-6 features-text">
                    <small>CBS</small>
                    <h2>Confidentiality and privacy policy</h2>
                    <i class="fa fa-users big-icon pull-right"></i>
                    <div style="text-align:justify;">
                        <p>
                            Red Cross staff and volunteers engaged in CBS are bound by the principle of confidentiality.
                            Confidentiality is of fundamental importance for the Red Cross and it emanates from the Seven Fundamental Principles with emphasis on the principles of Neutrality and Independence.
                            Confidentiality in this context means that Red Cross staff and volunteers can only share personal information if there is a consent from the person concerned or if other statutory conditions are met.
                            Although no identifiable information such as name, identification number or address is collected by the volunteers, health information is defined as personal information and is therefore treated as sensitive.
                            As response is integral to community based surveillance, a person’s identity could potentially be identified to health authorities and the community if response is required.
                            Therefore, Malagasy Red Cross is taking every possible step to protect privacy and adhere to confidentiality principles by: </br>
                            Obtaining informed consent: from community leaders and the community members before implementation of CBS.</br>
                            Acting sensitively: in the case of e.g. a suspect plague case in the community the volunteers will work only with the concerned household and health authorities in order to avoid revealing the sensitive information about a person’s health to the community or others;  </br>
                            Protecting the data: during data transmission using widely used standard secure data protection protocol SSL/TLS/VPN. Any data that should be viewed by a restricted audience follows industry best practices for authentication, using single-sign-on systems like Microsoft Active Directory and two factor authentication to perform user authentication.
                        </p>
                    </div>
                    </div>
            </div>
        </div>

    </section>

    <section id="partners" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Partners</h1>

                </div>
            </div>
            <div class="row">
                @*<div class="col-sm-4 wow fadeInLeft">
                    <div class="team-member">
                        <img src="~/Content/landing/Logo_MRC.png" class="img-responsive img-small" alt="MRC">
                        <h4><span class="navy">Malagasy</span> Red Cross (MRC)</h4>

                        <ul class="list-inline social-icon">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>*@
                    </div>
                
        </div>
                <div class="row-sm-6 wow fadeInRight">
                    <div class="team-member">
                        <img src="~/Content/landing/Logo_Danish_RedCross.jpg" class="img-responsive" alt="DRC">
                        <h4><span class="navy">Danish</span> Red Cross</h4>
                        
                        
                    </div>
                </div>
            </div>

        </div>
    </section>

    @*<section id="reports" class="pricing">
       
            <div class="row m-b-lg">
                <div class="col-lg-12 text-left">
                    <div class="navy-line"></div>
                    <h1>Reports</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-10">

                   
                        <button type="button" class="btn-sm btn-primary">
                            <span class="glyphicon glyphicon glyphicon-download-alt"></span> Weekly Report
                        </button>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-10">
                    
                        <button type="button" class="btn-sm btn-primary">
                            <span class="glyphicon glyphicon glyphicon-download-alt"></span> Monthly Report
                        </button>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-10">
                    
                        <button type="button" class="btn-sm btn-primary">
                            <span class="glyphicon glyphicon glyphicon-download-alt"></span> Annaul Report
                        </button>
                   
                </div>


                @*<ul class="pricing-plan list-unstyled">
                        <li class="pricing-title">
                            Download
                        </li>



                        <li>
                            Weekly Report
                        </li>
                        <li>
                            Monthly Report
                        </li>
                        <li>
                            Annual Reports
                        </li>

                    </ul>

            </div>
    

    </section>*@





    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>
                    
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-3">
                    <address>
                        <strong><span class="navy">Norwegian Red Cross</span></strong><br />
                        Hausmans gate 7, 600<br />
                        Oslo, Norway<br />
                        <abbr title="Phone">P:</abbr> (123) 456-7890<br />
                        Web: <a href="https://www.rodekors.no/red-cross-in-english/">Norwegian Red Cross</a>
                    </address>
                </div>
                <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-1">
                    <address>
                        <strong><span class="navy">Croix-Rouge Malagasy</span></strong><br />
                        1, Rue Patrice Lumumba Tsaralalàna, Antananarivo 101, Madagascar<br />
                        <abbr title="Phone">P:</abbr> +261320322111<br />
                        Web: <a href="#">www.croixrougemalagasy.org</a>
                    </address>
                </div>
            </div>
           @* <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                   
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.rodekors.no/red-cross-in-english/">Norwegian Red Cross</a>
                        </li>
                        <li>
                            <a href="#">Malagasy Red Cross</a>
                        </li>
                        
                    </ul>
                </div>
            </div>*@
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p>
                        <strong>© 2016&nbsp;Copyright</strong><br />
                        <center><img src="~/Content/landing/transparentnorcrosslogo.png" alt="dashboard" class="img-responsive"></center>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")


    <script>

        $(document).ready(function () {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $('#navbar').collapse('hide');
            });
        });

        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                    header = document.querySelector('.navbar-default'),
                    didScroll = false,
                    changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

    </script>

</body>
</html>